/* main: ../form.scss*/

.btn{
  padding: 13px 50px;
  line-height: 1;
  font-size: 16px;
  border: none;
  @include border-radius(0);

  &:disabled{
    background: rgba(0,0,0,0.25);
    color: darken($dark_liver, 40%);
  }

  &-sm{
    padding:{
      top: 9px;
      bottom: 9px;
    };
    font-size: 14px;
  }

  &-add{
    padding: 8px 15px;
    font-size: 14px;
  }

  &-primary{
    background: $true_color;
    width: 100%;
    @media (min-width: 481px){
      width: auto;
    }

    &:not(:disabled), &:not(.disabled){
      &:active:focus{
        @include box-shadow(none);
      }
    }

    &:focus, &:active{
      @include box-shadow(none);
    }
  }

  &-secondary{
    background: $kelly_green;
    width: 100%;
    @media (min-width: 481px){
      width: auto;
    }

    &:not(:disabled), &:not(.disabled){
      &:active:focus{
        @include box-shadow(none);
      }
    }

    &:focus, &:active{
      @include box-shadow(none);
    }

    &:hover{
      background: lighten($kelly_green, 5%);
    }
  }

  &-link{
    padding: 12px 0;
    text-decoration: underline;

    &:hover{
      text-decoration: none;
    }
  }

  &-login{
    text-transform: uppercase;
    @include box-shadow(0px 0px 7px 1px rgba(0,0,0,0.2));

    &:hover{
      @include box-shadow(none);
    }
  }

  &-forgot{
    margin-top: 20px;
    display: block;
    text-align: center;
    @media (min-width: 481px){
      margin-top: 0;
    }
  }

  &-fluid{
    width: 100%;
    padding:{
      left: 0;
      right: 0;
    };
    text-align: center;

    &.form__clear{
      margin-top: 20px;
    }
  }

  &-danger{
    background: $carmine_pink;

    &:hover, &:focus{
      @include box-shadow(none);
      background: lighten($carmine_pink, 5%)
    }
  }
}

.re-otp{
  margin-top: 20px;
  text-align: center;
  display: block;
  @media (min-width: 481px){
    margin:{
      top: 0;
      left: 20px;
    };
    display: inline-block;
  }
}
