/* main: ../common.scss, ../kyc.scss, ../login.scss, ../notsdash.scss, ../rmsdash.scss, ../register.scss, ../form.scss, ../header.scss, ../menu.scss, ../params.scss, ../ticker.scss, ../dashboard.scss, ../dashclient.scss, ../table.scss, ../footer.scss, ../spread.scss, ../order.scss, ../slideout.scss, loading.scss, ../tabs.scss, ../rms.scss, ../rmslimiting.scss, ../chat.scss*/

//Main Color
$true_color: #0078D7;
$blaze_orange: #f76707;
$palatinate_blue: #2853e0;

//Text / Border color
$old_silver: #828282;
$soap: #cfdbee;
$platinum: #e7e7e7; //Border Color
$isabelline: #ebebeb;
$granite_gray: #686868;
$sonic_silver: #757575;


//Gray Color
$gainsboro: #dbdbdb;
$glitter: #e7ebef;


//Form Color
$anti_flash_white: #edf1f5;
$white_smoke: #f4f5fa;


//Heading color
$dark_liver: #4f4f4f;

//Stock Color
$kelly_green: #009032; //Change Positive
$carmine_pink: #ff3333; //Change Negative
$ultramarine_blue: #2a59ee; //Change Neutral
$gunmetal: #2a343f;
$jonquil: #f1de15; //In Progress or Warning
$spiro_disco: #1dcff9;
