/*main: ../common.scss*/
@charset "UTF-8";

@font-face {
  font-family: "nepse-font";
  src:url("fonts/nepse-font.eot");
  src:url("fonts/nepse-font.eot?#iefix") format("embedded-opentype"),
    url("fonts/nepse-font.woff") format("woff"),
    url("fonts/nepse-font.ttf") format("truetype"),
    url("fonts/nepse-font.svg#nepse-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "nepse-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="nf-"]:before,
[class*=" nf-"]:before {
  font-family: "nepse-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nf-hammenu:before {
  content: "\61";
}
.nf-notification:before {
  content: "\62";
}
.nf-user:before {
  content: "\63";
}
.nf-angleright:before {
  content: "\64";
}
.nf-angleleft:before {
  content: "\65";
}
.nf-angledown:before {
  content: "\66";
}
.nf-editprofile:before {
  content: "\67";
}
.nf-logout:before {
  content: "\68";
}
.nf-close:before {
  content: "\69";
}
.nf-angleup:before {
  content: "\6a";
}
.nf-add:before {
  content: "\78";
}
.nf-view:before {
  content: "\79";
}
.nf-remove:before {
  content: "\7a";
}
.nf-edit:before {
  content: "\41";
}
.nf-delete:before {
  content: "\42";
}
.nf-table-edit:before {
  content: "\43";
}
.nf-showmore:before {
  content: "\44";
}
.nf-save:before {
  content: "\45";
}
.nf-search:before {
  content: "\46";
}
.nf-danger:before {
  content: "\47";
}
.nf-caretdown:before {
  content: "\48";
}
.nf-caretup:before {
  content: "\49";
}
.nf-deactivate:before {
  content: "\4a";
}
.nf-cancel:before {
  content: "\4b";
}
.nf-dblarrowright:before {
  content: "\4c";
}
.nf-dblarrowleft:before {
  content: "\4d";
}
.nf-calendar:before {
  content: "\4e";
}
.nf-dotshor:before {
  content: "\4f";
}
.nf-refresh:before {
  content: "\50";
}
.nf-networth:before {
  content: "\51";
}
.nf-roi:before {
  content: "\52";
}
.nf-stop:before {
  content: "\53";
}
.nf-play:before {
  content: "\54";
}
.nf-pause:before {
  content: "\55";
}
.nf-download:before {
  content: "\57";
}
.nf-print:before {
  content: "\59";
}
.nf-market-time:before {
  content: "\5a";
}
.nf-turnover:before {
  content: "\30";
}
.nf-set-limit:before {
  content: "\31";
}
.nf-department:before {
  content: "\32";
}
.nf-mobile:before {
  content: "\33";
}
.nf-email:before {
  content: "\34";
}
.nf-activemembers:before {
  content: "\35";
}
.nf-bonds:before {
  content: "\36";
}
.nf-clients:before {
  content: "\37";
}
.nf-equities:before {
  content: "\38";
}
.nf-mutualfunds:before {
  content: "\39";
}
.nf-suspendedmember:before {
  content: "\21";
}
.nf-trades:before {
  content: "\22";
}
.nf-dashboard:before {
  content: "\6f";
}
.nf-global-administration:before {
  content: "\70";
}
.nf-job-scheduling:before {
  content: "\6d";
}
.nf-market-data:before {
  content: "\72";
}
.nf-risk-management:before {
  content: "\73";
}
.nf-trade-management:before {
  content: "\76";
}
.nf-order-management:before {
  content: "\56";
}
.nf-member-admin-setup:before {
  content: "\58";
}
.nf-broker-back-office:before {
  content: "\23";
}
.nf-collateral-management:before {
  content: "\6b";
}
.nf-company-management:before {
  content: "\6c";
}
.nf-control-work-station:before {
  content: "\6e";
}
.nf-corporate-actions:before {
  content: "\71";
}
.nf-grievances:before {
  content: "\74";
}
.nf-fees-payment:before {
  content: "\75";
}
.nf-market-maker:before {
  content: "\77";
}
.nf-membership-management:before {
  content: "\24";
}
.nf-index-management:before {
  content: "\25";
}
.nf-alert:before {
  content: "\26";
}
.nf-batch-monitor:before {
  content: "\27";
}
.nf-security:before {
  content: "\28";
}
.nf-monitoring:before {
  content: "\29";
}
.nf-rms-setup:before {
  content: "\2a";
}
.nf-report:before {
  content: "\2b";
}
.nf-reactivate:before {
  content: "\2c";
}
