/*main: ../dashboard.scss*/

$index: '.index';

#{$index}{
  margin-bottom: 30px!important;

  &__range{
    float: right;
    font-size: 0;

    & > button{
      font-size: 14px;
      background: none;
      border: none;
      color: $granite_gray;
      cursor: pointer;
      margin: 6px 10px;
      padding: 0;
      position: relative;
      @include transition(all 0.33s);

      &:last-of-type{
        margin-right: 0;
      }

      &:first-of-type{
        margin-left: 0;
      }

      &:focus{
        outline: none;
      }

      &:after{
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        height: 0;
        background: $true_color;
        @include transition(all 0.33s);
      }

      &:hover{
        color: $true_color;

        &:after{
          height: 2px;
        }
      }
    }

    &--active{
      color: $true_color!important;
      &:after{
        height: 2px!important;
      }
    }
  }

  &__date{
    font-size: 14px;
  }

  &__chart{
    margin-top: 30px;
    width: 100%;
    position: relative;

    canvas{
      width: 100%;
      height: 100%;
    }
  }
}


//Indices Carousel
$indices: '.indices';
#{$indices}{
  position: relative;
  margin-bottom: 30px;

  &__item{
    padding: 20px;
    background: darken($dark_liver, 2%);
    position: relative;
    color: $gainsboro;
    cursor: pointer;
    font:{
      size: 14px;
    };
    @include transition(all 0.33s);


    &:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 0px;
      bottom: 0;
      left: 0;
      background: $true_color;
      @include transition(all 0.33s);
    }

    &--active, &:hover{
      background: darken($gunmetal, 2%);
      color: #fff;

      &:after{
        height: 5px;
      }
    }
  }

  &__title{
    text-transform: uppercase;
    font:{
      size: 14px;
      weight: 500;
    };
    color: $gainsboro;
  }

  &__points{
    margin-bottom: 10px;

    span{
      font-weight: 600;
    }
  }

  &__nav{
    position: absolute;
    top: 0;
    padding: 0 15px;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;

    & > button{
      border: none;
      background: none;
      position: relative;
      z-index: 9;
      font-size: 34px;
      cursor: pointer;
      height: 100%;
      visibility: hidden;
      color: $dark_liver;
      padding: {
        left: 0;
        right: 20px;
      };
      @include transition(all 0.33s);
      @include linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0), #fff, #fff);

      i{
        display: inline-block;
        line-height: 1;
        vertical-align: middle;
      }

      &:hover{
        @include linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0), #fff, #fff);
      }

      &.owl-next{
        padding: {
          left: 20px;
          right: 0;
        };
        @include linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.3), #fff, #fff);

        &:hover{
          @include linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.5), #fff, #fff);
        }
      }

      &:focus, &:active{
        outline: none;
      }
    }
  }

  &:hover{
      & > .indices__nav{
        & > button{
          visibility: visible;
        }
      }
  }
}
