/*main: ../dashboard.scss*/

$market: '.market';

#{$market}{
  margin-bottom: 30px!important;

  &__by{
    float: right;
    font-size: 14px;

    select{
      padding: 6px 0;
      border: none;
      border-bottom: 1px solid $glitter;
      color: $sonic_silver;

      &:focus, &:active{
        outline: none;
      }
    }
  }

  &__summary{

    &__item{
      padding-bottom: 10px;
      position: relative;

      &:before, &:after{
        content: '';
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        height: 2px;
        background: $platinum;
      }

      &:after{
        width: 85%;
      }
    }

    &--title{
      font:{
        size: 13px;
      };
      color: $old_silver;
      display: block;
    }

    & > [class*='col']{
      margin-bottom: 30px;

      &:last-of-type{
        margin-bottom: 0;
      }

      &:nth-child(3n-2){
        #{$market}__summary__item{
          &:after{
            background: $carmine_pink;
          }
        }
      }

      &:nth-child(3n-1){
        #{$market}__summary__item{
          &:after{
            background: $kelly_green;
          }
        }
      }

      &:nth-child(3n){
        #{$market}__summary__item{
          &:after{
            background: $ultramarine_blue;
          }
        }
      }
    }
  }
}
