/*main: main.scss*/
@import 'partials/color';

$main: '.main';
#{$main}{
  background: $body_color;
}

$ticker: '.ticker';
#{$ticker}{
  padding: 8px 15px;
  background: $ticker_bg;
  font: {
    size: 14px;
  };

  &__date{
    padding-right: 10px;
    border-right: 1px solid #a2a2a2;
    margin-right: 10px;
    font:{
      weight: 600;
    };
  }

  &__data{
    ul{
      font-size: 0;
      li{
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;

        i{
          margin-right: 3px;
        }
      }
    }

    &--positive{
      span{
        color: $green;
      }
    }

    &--negative{
      span{
        color: $red;
      }
    }

    &--nochange{
      span{
        color: $main_color;
      }
    }
  }
}

$corporate: '.corporate';
#{$corporate}{
  &__ticker{
    padding: 0 15px;
    li{
      padding: 8px 0;
      border:{
        bottom: 1px solid $border_color!important; //Overwriting CSS of Slick Slider
      };

      span, a{
        display: block;
        font:{
          size: 14px;
        };
        line-height: 22px;
      }

      span{
        color: #666;
      }

      a{
        color: $text_color;
      }
    }
  }
}

$notices: '.notices';
#{$notices}{
  &__ticker{
    padding: 0 15px;
    li{
      padding: 8px 0;
      border:{
        bottom: 1px solid $border_color!important; //Overwriting CSS of Slick Slider
      };

      span, a{
        display: block;
        font:{
          size: 14px;
        };
        line-height: 22px;
      }

      span{
        color: #666;
      }

      a{
        color: $text_color;
      }
    }
  }
}

#notices, #corporatedisc{
  display: block;
  opacity: 1;
  height: 0;
  overflow-y: hidden;

  &.active{
    height: auto;
    overflow-y: visible;
  }
}

$slider: '.slider';
#{$slider}{
  &__item{
    &--title{
      padding: 15px;

      a{
        font:{
          size: 18px;
          weight: 600;
        };
        color: $text_color;
        line-height: 24px;
      }
    }

    &--dots{
      text-align: right;
      padding:{
        bottom: 15px;
      };
      li{
        display: inline-block;
        margin-right: 10px;

        button{
          font-size: 0;
          width: 10px;
          height: 10px;
          background: #fff;
          border: 1px solid $text_color;
          @include border-radius(50%);
        }

        &.slick-active{
          button{
            background: $text_color;
          }
        }
      }
    }
  }
}

$index: '.index';
#{$index}{
  position: relative;

  &__details{

  }

  &__ctrl{
    h3, a{
      margin: 0;
      display: inline-block;
      vertical-align: middle;
      color: $text_color;
    }

    h3{
      margin-right: 10px;
    }

    a{
      @include transition(all 0.33s);

      &:hover{
        color: $main_color;
      }
    }
  }

  &__market{
    span{
      display: inline-block;
      vertical-align: middle;
    }

    &--date{
      font:{
        size: 12px;
      };
      color: $trolley_gray;
      margin-right: 10px;
    }

    &--status{
      font:{
        size: 12px;
      };
      height: 20px;
      line-height: 20px;
      padding:{
        left: 10px;
        right: 10px;
      };
      color: #fff;
      text-transform: uppercase;
      @include border-radius(10px);
    }

    &--open{
      background: $green;
      animation: openglow 4s linear infinite;
    }

    &--close{
      background: $pastel_red;
      animation: closeglow 4s linear infinite;
    }
  }

  &__chart{
    z-index: 10;
    position: relative;
  }

  &__subindices{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-y: scroll;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
  }
}
