/*main: main.scss*/
@import 'partials/color';

body{
  line-height: 1;
  outline: none;
  font:{
    family:"Source Sans Pro", sans-serif;
  }
  color: $text_color;
}

button, input{
  background: none;
  border: none;
  padding: 0;
  outline: none!important;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img{
  max-width: 100%;
}

$box: '.box';
#{$box}{
  background: #fff;
  padding: 15px;
}

.nrow{
  margin: 0 -5px!important;
}

.col-n{
  padding: {
    left: 5px;
    right: 5px;
  };
}

//Tabs
$tab: '.tab';
#{$tab}{
  &__item{
    font:{
      size: 14px;
    };
    margin-right: 5px;
    background: $border_color;
    color: #666;

    &:last-chid{
      margin-right: 0;
    }

    &.active{
      background: $pumpkin;
      color: #fff;
    }
  }

  &__content{
    border: 1px solid $border_color;
  }
}

//Animation for Market Status Glow
@keyframes openglow{
  0% {
    @include shadow(0 0 7px 0px lighten($green, 100%));
  }

  50% {
    @include shadow(0 0 7px 2px lighten($green, 30%));
  }

  100% {
    @include shadow(0 0 7px 0px lighten($green, 100%));
  }
}

@keyframes closeglow{
  0% {
    @include shadow(0 0 7px 0px lighten($red, 100%));
  }

  50% {
    @include shadow(0 0 7px 2px lighten($red, 30%));
  }

  100% {
    @include shadow(0 0 7px 0px lighten($red, 100%));
  }
}
