/*main: main.scss*/
@import 'partials/color';

$table: '.table';
#{$table}{
  margin-bottom: 0;

  font:{
    size: 14px;
  }

  th, td{
    padding: 8px 5px;
  }
  thead{
    th{
      border:{
        top: 0;
        bottom: 0;
      }
      font:{
        weight: 600;
      };
    }
  }
}
